## Data Loading

In [1]:
#importing python libraries
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt

In [2]:
#loading datasets
df_books = pd.read_csv('Dataset/Books.csv', low_memory=False)
df_ratings = pd.read_csv('Dataset/Ratings.csv')
df_users = pd.read_csv('Dataset/Users.csv')

In [3]:
#set seed for reproducibility
np.random.seed(0)

## Preprocessing on Books dataset

In [4]:
#first five rows of books dataset
df_books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [5]:
#number of missing values in books dataset
missing_books_count = df_books.isnull().sum()
missing_books_count

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [6]:
#dropping unrequired columns in books dataset
df_books.drop(['Image-URL-S', 'Image-URL-L'], axis = 1, inplace = True)

In [7]:
#uppercasing ISBN
df_books['ISBN'].str.upper()

0         0195153448
1         0002005018
2         0060973129
3         0374157065
4         0393045218
             ...
271355    0440400988
271356    0525447644
271357    006008667X
271358    0192126040
271359    0767409752
Name: ISBN, Length: 271360, dtype: object

In [8]:
#replacing null author and publisher with other
null_Author = np.where(df_books['Book-Author'].isnull())
null_publisher = np.where(df_books['Publisher'].isnull())

df_books.at[null_Author[0][0],'Book-Author'] = 'Other'
df_books.at[null_publisher[0][0],'Publisher'] = 'Other'
df_books.at[null_publisher[0][1],'Publisher'] = 'Other'

In [9]:
#get all the unique values of year of publication
years = df_books['Year-Of-Publication'].unique().sort()

In [10]:
#checking data for 'DK Publishing Inc'
df_books.loc[df_books['Year-Of-Publication'] == 'DK Publishing Inc',:]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-M
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...

In [11]:
#editing data for DK Publishing Inc
df_books.at[209538,'Book-Author'] = 'Other'
df_books.at[209538,'Year-Of-Publication'] = 2000
df_books.at[209538,'Publisher'] = 'DK Publishing Inc'

df_books.at[221678,'Book-Author'] = 'Other'
df_books.at[221678,'Publisher'] = 'DK Publishing Inc'
df_books.at[221678,'Year-Of-Publication'] = 2000

In [12]:
#checking data for 'Gallimard'
df_books.loc[df_books['Year-Of-Publication'] == 'Gallimard',:]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-M
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-M...",2003,Gallimard,http://images.amazon.com/images/P/2070426769.0...,http://images.amazon.com/images/P/2070426769.0...

In [13]:
#editing data for Gallimard
df_books.at[220731 ,'Book-Author'] = 'Other'
df_books.at[220731 ,'Publisher'] = 'Gallimard'
df_books.at[220731 ,'Year-Of-Publication'] = '2003'

In [14]:
#converting year of publication in int data type
df_books['Year-Of-Publication'] = df_books['Year-Of-Publication'].astype(int)

In [15]:
#selecting range which less than 2022
df_books.loc[df_books['Year-Of-Publication'] > 2022, 'Year-Of-Publication'] = 2002

#replacing Invalid years with max year
df_books.loc[df_books['Year-Of-Publication'] == 0, 'Year-Of-Publication'] = 2002

In [16]:
#duplicate rows in books dataset
duplicated_books = df_books.duplicated().sum()

## Preprocessing on Users dataset

In [17]:
#first five rows of users dataset
df_users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [18]:
#number of missing values in users dataset
missing_users_count = df_users.isnull().sum()

In [19]:
#splitting location into city, state and country
locations_list = df_users.Location.str.split(', ')
location_count = len(locations_list)
cities_list = []
states_list = []
countries_list = []
for location in range(0, location_count):
    if locations_list[location][0] == '' or locations_list[location][0] == 'n/a' or locations_list[location][0] == ' ':
        cities_list.append('Other')
    else: 
        cities_list.append(locations_list[location][0])

    if (len(locations_list[location]) < 2):
        states_list.append('Other')
        countries_list.append('Other')
    
    else: 
        if locations_list[location][1] == '' or locations_list[location][1] == 'n/a' or locations_list[location][1] == ' ':
            states_list.append('Other')
        else: 
            states_list.append(locations_list[location][1])
        
        if (len(locations_list[location]) < 3):
            countries_list.append('Other')
        
        else: 
            if locations_list[location][2] == '' or locations_list[location][2] == 'n/a' or locations_list[location][2] == ' ':
                countries_list.append('Other')
            else: 
                countries_list.append(locations_list[location][2])

In [20]:
#creating location dataframes
df_city = pd.DataFrame(cities_list, columns=['City'])
df_state = pd.DataFrame(states_list, columns = ['State'])
df_country = pd.DataFrame(countries_list, columns =['Country'])

df_location = pd.concat([df_city, df_state, df_country], axis=1)
df_location

               City            State         Country
0               nyc         new york             usa
1          stockton       california             usa
2            moscow  yukon territory          russia
3             porto         v.n.gaia        portugal
4       farnborough            hants  united kingdom
...             ...              ...             ...
278853     portland           oregon             usa
278854       tacoma       washington  united kingdom
278855     brampton          ontario          canada
278856    knoxville        tennessee             usa
278857       dublin            Other         ireland

[278858 rows x 3 columns]

In [21]:
#converting location to lowercase
df_location['City'] = df_location['City'].str.lower()
df_location['State'] = df_location['State'].str.lower()
df_location['Country'] = df_location['Country'].str.lower()

In [22]:
#adding locations to df_users
df_users = pd.concat([df_users, df_location], axis = 1)
df_users

,User-ID,Location,Age,City,State,Country
0,1,"nyc, new york, usa",NaN,nyc,new york,usa
1,2,"stockton, california, usa",18.0,stockton,california,usa
2,3,"moscow, yukon territory, russia",NaN,moscow,yukon territory,russia
3,4,"porto, v.n.gaia, portugal",17.0,porto,v.n.gaia,portugal
4,5,"farnborough, hants, united kingdom",NaN,farnborough,hants,united kingdom
...,...,...,...,...,...,...
278853,278854,"portland, oregon, usa",NaN,portland,oregon,usa
278854,278855,"tacoma, washington, united kingdom",50.0,tacoma,washington,united kingdom
278855,278856,"brampton, ontario, canada",NaN,brampton,ontario,canada
278856,278857,"knoxville, tennessee, usa",NaN,knoxville,tennessee,usa
278857,278858,"dublin, n/a, ireland",NaN,dublin,other,ireland

In [23]:
#dropping location from users dataset
df_users.drop(['Location'], axis = 1, inplace = True)

In [24]:
#age preprocessing
ages = df_users['Age'].unique().sort()
considerable_age = df_users[df_users['Age'] <= 98] 
considerable_age = considerable_age[considerable_age['Age'] >= 8]
average_age = round(considerable_age['Age'].mean())

In [25]:
#replacing ages that don't fall in range with average
df_users.loc[df_users['Age'] > 98, 'Age'] = average_age
df_users.loc[df_users['Age'] < 8, 'Age'] = average_age

In [26]:
#filling missing age with average age 
#changing age data type to int
df_users['Age'] = df_users['Age'].fillna(average_age)

df_users['Age'] = df_users['Age'].astype(int)

In [27]:
#duplicate users in books dataset
duplicated_users = df_users.duplicated().sum()
duplicated_users

0

## Preprocessing on Ratings dataset

In [28]:
#first five rows of ratings dataset
df_ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [29]:
#number of missing values in ratings dataset
missing_ratings_count = df_ratings.isnull().sum()
missing_ratings_count

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [30]:
#checking data type of 'Book-Rating'
df_ratings.dtypes

User-ID         int64
ISBN           object
Book-Rating     int64
dtype: object

In [31]:
#uppercasing ISBN
df_books['ISBN'].str.upper()

0         0195153448
1         0002005018
2         0060973129
3         0374157065
4         0393045218
             ...
271355    0440400988
271356    0525447644
271357    006008667X
271358    0192126040
271359    0767409752
Name: ISBN, Length: 271360, dtype: object

In [32]:
#duplicate ratings in books dataset
duplicated_ratings = df_ratings.duplicated().sum()
duplicated_ratings

0

## Dataset Merging

In [33]:
df_recommendation_dataset = pd.merge(df_books, df_ratings, on="ISBN")
df_recommendation_dataset = pd.merge(df_recommendation_dataset, df_users, on="User-ID")

In [34]:
df_recommendation_dataset

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-M,User-ID,Book-Rating,Age,City,State,Country
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,2,0,18,stockton,california,usa
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,8,5,35,timmins,ontario,canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,8,0,35,timmins,ontario,canada
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,8,0,35,timmins,ontario,canada
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,8,0,35,timmins,ontario,canada
...,...,...,...,...,...,...,...,...,...,...,...,...
1031131,087004124X,Anthem,Ayn Rand,1966,Caxton Press,http://images.amazon.com/images/P/087004124X.0...,259589,8,19,venice,florida,usa
1031132,158243123X,A Student of Weather,Elizabeth Hay,2001,Counterpoint Press,http://images.amazon.com/images/P/158243123X.0...,259591,8,39,tioga,pennsylvania,usa
1031133,8485900057,Rimas y leyendas (ClÃ¡sicos Fraile ; 3),Gustavo Adolfo BÃ©cquer,1981,Ediciones Fraile,http://images.amazon.com/images/P/8485900057.0...,259614,10,22,madrid,madrid,spain
1031134,0838934854,Anglo-American Cataloguing Rules,Michael Gorman,1998,American Library Association,http://images.amazon.com/images/P/0838934854.0...,259679,6,27,grand prairie,texas,usa
1031135,3423300965,Texte zur Ethik.,Dieter Birnbacher,2003,Dtv,http://images.amazon.com/images/P/3423300965.0...,259920,0,35,bielefeld,nordrhein-westfalen,germany

In [35]:
#books with ratings
df_books_with_ratings = df_recommendation_dataset[df_recommendation_dataset['Book-Rating'] != 0]
df_books_with_ratings = df_books_with_ratings.reset_index(drop = True)

In [72]:
bookList = df_books_with_ratings['Book-Title'].drop_duplicates().tolist()
#bookList = bookList.tolist()
bookList

['Clara Callan',
 "Where You'll Find Me: And Other Stories",
 'The Middle Stories',
 'Jane Doe',
 'The Witchfinder (Amos Walker Mystery Series)',
 'More Cunning Than Man: A Social History of Rats and Man',
 'Goodbye to the Buttermilk Sky',
 'The Five People You Meet in Heaven',
 'Life of Pi',
 'The Red Tent (Bestselling Backlist)',
 "The Pilot's Wife : A Novel Tag: Author of the Weight of Water (Oprah's Book Club (Hardcover))",
 'Good in Bed',
 'Five Quarters of the Orange',
 'The Winner',
 "A Patchwork Planet (Ballantine Reader's Circle)",
 'The Horse Whisperer',
 'Open House',
 'Gracie: A Love Story',
 "Lady Chatterley's Lover",
 'Dating Big Bird',
 'An Italian Affair',
 'Prodigy',
 'Joy School',
 'The Sister Circle (Sister Circle)',
 "The Kitchen God's Wife",
 'PLEADING GUILTY',
 'The Testament',
 'Beloved (Plume Contemporary Fiction)',
 "Our Dumb Century: The Onion Presents 100 Years of Headlines from America's Finest News Source",
 'New Vegetarian: Bold and Beautiful Recipes for Every Occasion',
 'Wild Animus',
 'Timeline',
 'Prague : A Novel',
 'Seabiscuit: An American Legend',
 'Downtown',
 "I'll Be Seeing You",
 'From the Corner of His Eye',
 'Purity in Death',
 "Left Behind: A Novel of the Earth's Last Days (Left Behind #1)",
 'The Street Lawyer',
 'Breathing Lessons',
 'The Tao of Pooh',
 'Seabiscuit',
 "Life's Little Instruction Book (Life's Little Instruction Books (Paperback))",
 'Female Intelligence',
 'The Beach House',
 'A Kiss Remembered',
 'The Short Forever',
 'Every Breath You Take : A True Story of Obsession, Revenge, and Murder',
 'The Mosquito Coast',
 'The Girl Who Loved Tom Gordon',
 'One Hundred Years of Solitude',
 'Coyote Waits (Joe Leaphorn/Jim Chee Novels)',
 'Before I Say Good-Bye',
 'Slow Waltz in Cedar Bend',
 'Diary of a Mad Mom-To-Be',
 'Wish You Well',
 "The Hitchhiker's Guide to the Galaxy",
 'Crow Lake (Today Show Book Club #7)',
 'The Cat Who Came to Breakfast (Cat Who... (Hardcover))',
 'Veronika Deschliesst Zu Sterben / Vernika Decides to Die',
 'Die Cappuccino- Jahre. Aus dem Tagebuch des Adrian Mole.',
 'The Big Bad Wolf: A Novel',
 'Four Blind Mice',
 'Congo',
 'Protect and Defend',
 'Memoirs of a Geisha',
 'Body of Evidence (Kay Scarpetta Mysteries (Paperback))',
 'All That Remains (Kay Scarpetta Mysteries (Paperback))',
 'The King of Torts',
 'Bleachers',
 'The Rescue',
 'Manhattan Hunt Club',
 "Patty Jane's House of Curl (Ballantine Reader's Circle)",
 'Pet Sematary',
 'Silent Snow',
 'Summer of Storms',
 'Deception Point',
 'Tis : A Memoir',
 'Angels &amp; Demons',
 'Chicken Soup for the Soul (Chicken Soup for the Soul)',
 'Wicked: The Life and Times of the Wicked Witch of the West',
 'Secret History',
 "Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))",
 'The Weight of Water',
 'Moonheart (Newford)',
 'The Picture of Dorian Gray (Modern Library (Paperback))',
 'Little Women (Signet Classic)',
 'Animal Farm',
 'Eva Luna',
 'Poisonwood Bible Edition Uk',
 'Catch 22',
 'A Man in Full',
 'A Painted House',
 'The Perfect Storm : A True Story of Men Against the Sea',
 'The Postman (Bantam Classics)',
 'The Breach',
 'Neanderthal: A Novel',
 'The Best Democracy Money Can Buy: The Truth About Corporate Cons, Globalization and High-Finance Fraudsters',
 'The Hunt for Red October',
 'El Palacio de La Luna',
 'Killer Market (Deborah Knott Mysteries (Paperback))',
 'Bel Canto',
 'Digital Fortress : A Thriller',
 'Blackberry Wine : A Novel',
 'The Firm',
 'The Client',
 'Proof',
 'Heart of the Sea (Irish Trilogy)',
 'I Spy: A Book of Picture Riddles',
 'Lake News',
 'An Accidental Woman',
 'The Snow Garden',
 'Lakota Woman',
 'The Lovely Bones: A Novel',
 'Hannibal',
 'Dragonflight (Dragonriders of Pern Trilogy (Paperback))',
 'Murder at the Kennedy Center (Capital Crime Mysteries)',
 'Guinness World Records 2000 (Guinness Book of Records, 2000)',
 'The Scarlet Letter',
 'The Lovely Bones',
 'The Tortilla Curtain',
 'Empire Falls',
 'Black and Blue',
 'Le Divorce (William Abrahams Book)',
 'The Face',
 'Falling Leaves: The True Story of an Unwanted Chinese Daughter',
 'The First Wives Club Movie Tie In',
 "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)",
 'Mount Vernon Love Story : A Novel of George and Martha Washington',
 'Florida Road Kill: A Novel',
 'The Nanny Diaries: A Novel',
 'The Gizmo',
 'Postmortem',
 'An Inconvenient Woman',
 "The Deep End of the Ocean (Oprah's Book Club)",
 'Four Blondes',
 "River's End",
 'Summer Island',
 'The Partner',
 'Chosen Prey',
 'Night Sins',
 'The Vampire Lestat (Vampire Chronicles, Book II)',
 'Organizing from the Inside Out',
 'Vanished',
 'My First Book about Space (Golden Look-Look Books (Paperback))',
 'Burning Water (Burning Water)',
 'Cold Mountain (MTI) (Vintage Contemporaries)',
 'Little House On the Prairie',
 'The Next Accident',
 'Socks (Cleary Reissue)',
 'In the Bleak Midwinter (A Rev. Clare Ferguson Mystery)',
 'Fast Food Nation: The Dark Side of the All-American Meal',
 'Echoes',
 'One for the Money (Stephanie Plum Novels (Paperback))',
 'The Future Scrolls',
 'Along Came a Spider (Alex Cross Novels)',
 'Simple Abundance:  A Daybook of Comfort and Joy',
 'The River King',
 'Who Moved My Cheese? An Amazing Way to Deal with Change in Your Work and in Your Life',
 'On the Road (Penguin 20th Century Classics)',
 "Where the Heart Is (Oprah's Book Club (Paperback))",
 "The Girls' Guide to Hunting and Fishing",
 'Icy Sparks',
 "The Time Traveler's Wife",
 "Davita's Harp",
 'Regain',
 'Le Grand Meaulnes (Classiques De Poche)',
 'Ravage',
 'The Da Vinci Code',
 'Bridget Jones : The Edge of Reason',
 'Big Trouble',
 'Skipping Christmas',
 'The Reader',
 'Angel Falls',
 "Daddy's Little Girl",
 'Message in a Bottle',
 'The Guardian',
 'Nights in Rodanthe',
 "Suzanne's Diary for Nicholas",
 '2nd Chance',
 'Shattered Uk',
 'The Bad Beginning (A Series of Unfortunate Events, Book 1)',
 'George W. Bushisms : The Slate Book of The Accidental Wit and Wisdom of our 43rd President',
 'Les Fourmis',
 "The Sorcerer's Companion: A Guide to the Magical World of Harry Potter",
 'Me Talk Pretty One Day',
 'stardust',
 "Death: At Death's Door (Vertigo, Number 1)",
 'The Hutt Gambit (Star Wars: The Han Solo Trilogy, Vol. 2)',
 'The Beans of Egypt, Maine',
 'The Funhouse',
 'About a Boy (Movie Tie-In)',
 'Dreamcatcher',
 "Smilla's Sense of Snow",
 "The Magician's Nephew (Narnia)",
 'The Giver (21st Century Reference)',
 'The Heavenly Man: The Remarkable True Story of Chinese Christian Brother Yun',
 'A Man Rides Through (Man Rides Through)',
 "Mirror of Her Dreams (Mordant's Need)",
 'Reader',
 'The Diary of Ellen Rimbauer: My Life at Rose Red',
 'The Forest House',
 'The Cat Who Tailed a Thief',
 'Murder at the Library of Congress (Capital Crimes (Paperback))',
 'Thorns of Truth',
 'The Penwyth Curse',
 'Final Stand',
 'Toxin',
 'The Mothman Prophecies',
 'The Amazing Adventures of Kavalier &amp; Clay',
 'Greygallows',
 'The Phantom Tollbooth',
 'Catnap : A Midnight Louie Mystery (A Midnight Louie Mystery)',
 'Fight Club',
 'SHIPPING NEWS',
 'The Smoke Jumper',
 'The Unbearable Lightness of Being',
 'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
 'Fall On Your Knees (Oprah #45)',
 'The Survivors Club',
 'The Carousel',
 'One Fish Two Fish Red Fish Blue Fish (I Can Read It All by Myself Beginner Books)',
 "This Boy's Life: A Memoir",
 "The World According to Garp (Ballantine Reader's Circle)",
 'Possessing the Secret of Joy',
 'White Noise (Contemporary American Fiction)',
 'Of Love and Shadows',
 'The House of the Spirits',
 'Where the Sidewalk Ends : Poems and Drawings',
 'Interpreter of Maladies',
 "She's Come Undone (Oprah's Book Club (Paperback))",
 'JITTERBUG PERFUME',
 'Common Phrases: And Where They Come From',
 'Dragonfly in Amber',
 'Kiss the Girls',
 'The Witching Hour (Lives of the Mayfair Witches)',
 'Jack &amp; Jill (Alex Cross Novels)',
 'Vittorio the Vampire: New Tales of the Vampires',
 'The House on Mango Street (Vintage Contemporaries)',
 'Frankenstein Or, the Modern Prometheus',
 'The Perks of Being a Wallflower',
 "Daughter of Fortune : A Novel (Oprah's Book Club (Hardcover))",
 'Portrait in Sepia',
 'Sofies Welt. Roman Ã?Â¼ber die Geschichte der Philosophie.',
 'Tales of the City (Tales of the City Series, V. 1)',
 'Killing Mister Watson',
 'Jurassic Park',
 'Shape Changer',
 'Trading Places',
 'Neverwhere',
 'The Thorn Birds',
 'Forever... : A Novel of Good and Evil, Love and Hope',
 'The God of Small Things',
 "The Beekeeper's Apprentice",
 'Mother of Pearl',
 'Pale Fire: A Novel (Vintage International)',
 'The Anubis Gates',
 'Der Alchimist.',
 'Shadowrun. Deutschland in den Schatten.',
 'Angelas Ashes',
 "Last Dance, Last Chance (Ann Rule's Crime Files)",
 'Once',
 'Ich schenk Dir meinen Mann.',
 'Survivor : A Novel',
 "Lamb : The Gospel According to Biff, Christ's Childhood Pal",
 'The Curse of Madame C : A Far Side Collection',
 'Lake Wobegon Days',
 '14,000 Things to Be Happy About',
 'All Too Human : A Political Education',
 'The Thief Lord',
 "The Color of Water: A Black Man's Tribute to His White Mother",
 'Anne Frank: The Diary of a Young Girl',
 'The Stand: Complete and Uncut',
 'Shopaholic Takes Manhattan (Summer Display Opportunity)',
 'Confessions of a Shopaholic (Summer Display Opportunity)',
 'The Cider House Rules',
 'Uncle Tungsten: Memories of a Chemical Boyhood',
 'Family At Last (Love Inspired (Numbered))',
 'Smoke in Mirrors',
 'Table For Two',
 "Eve's Rib",
 'The Education of Little Tree (A Zia Book)',
 "Darwin's Radio",
 'Good Omens',
 'Fatal Voyage',
 'Flashback',
 'Red Square',
 'Shock',
 'A Lesson Before Dying (Vintage Contemporaries (Paperback))',
 'Jewel',
 'Notes From a Small Planet',
 'A Prayer for Owen Meany',
 'The Sinner',
 'Cold Sassy Tree',
 'A Tree Grows in Brooklyn',
 'The Shipping News : A Novel',
 'True Notebooks (Alex Awards (Awards))',
 "Driving Mr. Albert: A Trip Across America With Einstein's Brain",
 'Shopgirl',
 'A Walk in the Woods: Rediscovering America on the Appalachian Trail (Official Guides to the Appalachian Trail)',
 "Chicken Soup for the Mother's Soul (Chicken Soup for the Soul Series (Paper))",
 'Speak',
 'America : A Jake Grafton Novel (A Jake Grafton Novel)',
 'Riding the Bus with My Sister: A True Life Journey',
 'The Mount: A Novel',
 'Half Asleep in Frog Pajamas',
 'Allegra Maud Goldman',
 'At Home in Mitford (The Mitford Years)',
 'All Around the Town',
 'Faking It',
 'The Loop',
 'The Vineyard',
 'How to Make an American Quilt',
 'Ellen Foster',
 'Of Love and Other Demons (Penguin Great Books of the 20th Century)',
 'The Hours : A Novel',
 'Alias Grace : A Novel',
 'Fried Green Tomatoes at the Whistle Stop Cafe',
 'Lily White',
 'The Years of Rice and Salt',
 'Midnight Runner',
 'A Killing Gift',
 'The Last Time They Met : A Novel',
 'Lost in a Good Book (Thursday Next Novels (Penguin Books))',
 'Apocalipstick',
 'Harem: A Novel',
 'Tunnel Vision (V.I. Warshawski Novels (Paperback))',
 'Herzsprung',
 "In My Father's House (Point)",
 'Island of the Blue Dolphins (Laurel Leaf Books)',
 'The Night Crew',
 'The Blue Nowhere : A Novel',
 'Sudden Prey',
 'Always a Thief',
 'Deck the Halls',
 'A Year in Provence',
 'Le Guide galactique, tome 1',
 'The Time Machine and the Invisible Man',
 'When the Wind Blows',
 'Circle of Three #3: Second Sight (Circle of Three)',
 'Johnny Long Legs (Matt Christopher Sports Classics)',
 'Full House',
 'House Atreides (Dune: House Trilogy, Book 1)',
 'The Sparrow',
 'Before I Say Good-Bye : A Novel',
 'Summer Sisters',
 'Look at Me',
 'Babyville',
 'What to Expect the First Year',
 'The Alchemist: A Fable About Following Your Dream',
 'Miss Julia Speaks Her Mind : A Novel',
 "Big Stone Gap: A Novel (Ballantine Reader's Circle)",
 'Black Notice',
 'As Nature Made Him: The Boy Who Was Raised As a Girl',
 'Rabbit-Proof Fence : The True Story of One of the Greatest Escapes of  All Time',
 'Plays by and about Women',
 'Atlantis Found',
 'The Alienist',
 'Manifold: Time (Manifold (Paperback))',
 'Notes from a Small Island',
 'Red, White and Blue : A Novel',
 'Engaging The Enemy',
 'Into Thin Air : A Personal Account of the Mt. Everest Disaster',
 'The Curious Incident of the Dog in the Night-Time (Today Show Book Club #13)',
 'World According to Garp: A Novel',
 'The Brethren',
 "The French Lieutenant's Woman (French Lieutenant's Woman)",
 'The Far Pavilions',
 'Walk Two Moons',
 'Independence Day',
 'Cause of Death',
 'The Poisonwood Bible',
 'Waiting to Exhale',
 'The Vanished Man : A Lincoln Rhyme Novel (Lincoln Rhyme Novels (Paperback))',
 "The Ultimate Hitchhiker's Guide",
 'GARDENS IN THE DUNES: A Novel',
 'Chromosome 6',
 'Point of Origin',
 'Black Friday',
 'Cradle and All',
 '1st to Die: A Novel',
 'Cold Case',
 'Kissed by Shadows (Get Connected Romances)',
 '253',
 'Skinwalkers (Joe Leaphorn/Jim Chee Novels)',
 'Snow Falling on Cedars',
 "A Cup of Tea (Ballantine Reader's Circle)",
 "As the Romans Do: An American Family's Italian Odyssey",
 "Beethoven's Hair : An Extraordinary Historical Odyssey and a Scientific Mystery Solved",
 'Here on Earth',
 'The Lost World',
 "The Shelters of Stone (Earth's Children Series, No 5)",
 'Absolute Power',
 'Finding the Right Place at the Right Time; Everything You Need to Know About Retirement Housing',
 'The Man Who Mistook His Wife for a Hat: And Other Clinical Tales',
 'White Oleander : A Novel',
 'City of Bones',
 'Lucky You',
 "The Handmaid's Tale",
 'The Girl Who Loved Tom Gordon : A Novel',
 'Falling Towards England',
 'Body of Lies',
 'Amazonia',
 'A Density of Souls',
 'Standing in the Rainbow : A Novel',
 "The Cat Who Wasn't There",
 'God-Shaped Hole',
 'Ishmael: An Adventure of the Mind and Spirit',
 'The Australia Stories: A Novel',
 'The Homing',
 'Mercy',
 'An Acceptable Time',
 "The Dive From Clausen's Pier : A Novel (Vintage Contemporaries (Paperback))",
 'The Simple Truth',
 'Sister of My Heart',
 'Cryptonomicon',
 'Tracks RI',
 'The Beet Queen : A Novel',
 'Up Country: A Novel',
 'The Maze',
 'Out of This World',
 'Out to Canaan (The Mitford Years)',
 'These High, Green Hills (The Mitford Years)',
 'A Light in the Window (The Mitford Years)',
 'Mama Day (Vintage Contemporaries)',
 'A Place Called Freedom',
 'Fahrenheit 451 - T.D. -',
 'Hot Six : A Stephanie Plum Novel (A Stephanie Plum Novel)',
 "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
 'My Side of the Mountain',
 'Daughter of Fortune: A Novel',
 'Blood Orchid',
 "Ender's Game (Ender Wiggins Saga (Paperback))",
 'The Andromeda Strain',
 'The Eye of the World (The Wheel of Time, Book 1)',
 'Growing Pains of Adrian Mole',
 'Clear and Present Danger (Jack Ryan Novels)',
 'All Together in One Place: A Novel of Kinship, Courage, and Faith (Kirkpatrick, Jane. Kinship and Courage Historical Series, Bk. 1.)',
 "Tuesdays with Morrie: An Old Man, a Young Man, and Life's Greatest Lesson",
 'Pigs in Heaven',
 'Eats, Shoots &amp; Leaves: The Zero Tolerance Approach to Punctuation',
 'Naked',
 'A Walk in the Woods: Rediscovering America on the Appalachian Trail',
 'Waiting (Vintage International)',
 'The Sum of All Fears (Jack Ryan Novels)',
 'Why Girls Are Weird : A Novel',
 'Murder on the Orient Express (Hercule Poirot Mysteries (Paperback))',
 'The First Counsel',
 'Mystic River',
 'Bola da vez: Romance policial (ColeÃ§Ã£o Romance policial brasileiro)',
 'Blast From the Past',
 'A Cold Heart: An Alex Delaware Novel',
 'Roadwork',
 'Sick Puppy',
 'Prey',
 'Fear Nothing',
 'The Key to Rebecca',
 'J Is for Judgment',
 'The Last Coyote (Last Coyote)',
 'Still Life with Woodpecker',
 'Bridget Jones: The Edge of Reason',
 'The Complete Book of Palmistry',
 'Interview with the Vampire',
 '\\O\\" Is for Outlaw"',
 "The Book of Ruth (Oprah's Book Club (Paperback))",
 'How to Be Good',
 'The Rainmaker',
 'Mirror Image',
 'Confucio nel computer: Memoria accidentale del futuro',
 "The Tycoon's Double Trouble  (Daycare Dads)",
 'Tender Is the Storm',
 'Name Der Rose',
 '13 99 Euros',
 'Ocho, El',
 'The Notebook',
 'The Fulfillment',
 'Bloodstream',
 'Heat and Dust',
 'You Belong To Me',
 'Cry Wolf',
 'Empire Strikes Back Wars',
 'The Cat Who Went Up the Creek',
 'The Encounter (Animorphs , No 3)',
 'Southern Ghost',
 'Montana Sky',
 'All About Passion (Cynster Novels)',
 'Lady of Desire',
 'Untie My Heart',
 'Must Be Magic',
 'The Snow Leopard (Penguin Nature Classics)',
 'The Cat Who Blew the Whistle',
 'Diary of a Mad Bride (Summer Display Opportunity)',
 "Cry, the Beloved Country (Oprah's Book Club)",
 "East of Eden (Oprah's Book Club)",
 'Three Fates',
 'Pay It Forward',
 'Die geheime Geschichte.',
 'Bastard Out of Carolina',
 'Face the Fire (Three Sisters Island Trilogy)',
 'The Hobbit: or There and Back Again',
 'The Elric Saga PT. II',
 'No One Noticed the Cat',
 "Harry Potter and the Sorcerer's Stone (Book 1)",
 "Dude, Where's My Country?",
 'From The Two Rivers : The Eye of the World, Book 1 (Wheel of Time (Starscape))',
 'Meurtres en soutane',
 'Izzy, Willy-Nilly',
 'Building Blocks',
 'A Solitary Blue (Point)',
 'Too Close to the Falls: A Memoir',
 'Revelation and the Fall of Judea',
 'Jitterbug Perfume',
 "ANGELA'S ASHES",
 'Violets Are Blue',
 'The Dogs of Babel (Today Show Book Club #12)',
 'Sudden Death',
 'The Tale of the Body Thief (Vampire Chronicles (Paperback))',
 'Startide Rising (The Uplift Saga, Book 2)',
 'Night Chills',
 'Cruel &amp; Unusual (Kay Scarpetta Mysteries (Paperback))',
 'Misery',
 'Faerie Tale',
 'The Body Farm',
 'Mortal Fear',
 'Embrace the Twilight',
 'By the Light of the Moon',
 'Watchers',
 'Strangers',
 'Intensity',
 'The Hours: A Novel',
 'My Lady Pirate',
 'A Day Late and a Dollar Short',
 'Rainbow Six',
 "The Bonesetter's Daughter",
 'The Mistress of Spices',
 'A Hope in the Unseen : An American Odyssey from the Inner City to the Ivy League',
 'Midwives: A Novel',
 'I Know This Much Is True',
 'To the Nines: A Stephanie Plum Novel',
 'Free',
 'Venezianisches Finale. Commissario Brunettis erster Fall.',
 'Das Tagebuch Der Bridget Jones',
 'Fast Forward',
 'Hill Towns',
 'The Witness',
 "Don't Sweat the Small Stuff and It's All Small Stuff : Simple Ways to Keep the Little Things from Taking Over Your Life (Don't Sweat the Small Stuff Series)",
 'Monster : A Novel (Alex Delaware Novels (Paperback))',
 'Crossover (Star Trek: The Next Generation)',
 'Junior High Jitters (Junior High, No 1)',
 'The Autograph Man: A Novel (Vintage International (Paperback))',
 'Call of the Wild',
 'Whispers',
 'Ich, meine Freundin und all diese MÃ?Â¤nner.',
 'Four To Score (A Stephanie Plum Novel)',
 'Champagner und Kamillentee.',
 'Two of a Kind #19: Surprise, Surprise! (Two of a Kind, 19)',
 'Lucky, Lucky Day (Full House Michelle)',
 'Meg and the Secret Scrapbook (Always Friends Club, No 1)',
 'The Owl Service',
 'A Thousand Acres',
 "Bailey's Cafe",
 'The Analyst',
 'Watership Down',
 'The Scarlet Letter (Dover Thrift Editions)',
 "Galileo's Daughter: A Historical Memoir of Science, Faith, and Love",
 'Like Water for Chocolate: A Novel in Monthly Installments With Recipes, Romances and Home Remedies',
 'Almost blue (Stile libero)',
 'Artemis Fowl.',
 'Girl With a Pearl Earring',
 'Personal History',
 'Unless : A Novel',
 "The Dive From Clausen's Pier (Alex Awards)",
 'Monster Blood (Goosebumps, No 3)',
 'Stay Out of the Basement (Goosebumps, No 2)',
 'Final Target',
 'Mr. Perfect',
 'A Christmas Carol (Scholastic Classics)',
 'Ein Mann fÃ¼r eine Nacht: Roman (Die Frau in der Gesellschaft)',
 'Das WÃ?Â¼ten der ganzen Welt.',
 'Dragons of Autumn Twilight (Dragonlance Chronicles, Vol 1)',
 'A Map of the World',
 'Buddha of Suburbia',
 'Tribulation Force: The Continuing Drama of Those Left Behind (Left Behind No. 2)',
 'The Klone and I: A High-Tech Love Story',
 'The Runaway Jury',
 "Band of Brothers : E Company, 506th Regiment, 101st Airborne from Normandy to Hitler's Eagle's Nest",
 "Roger Caras' Treasury of Great Cat Stories",

In [37]:
#books without ratings
df_books_without_ratings = df_recommendation_dataset[df_recommendation_dataset['Book-Rating'] == 0]
df_books_without_ratings = df_books_without_ratings.reset_index(drop = True)

## TOP 50 Books

In [38]:
#calculating total number of ratings for each book
df_ratings_count = df_books_with_ratings.groupby('Book-Title').count()['Book-Rating'].reset_index()
df_ratings_count = df_ratings_count.sort_values('Book-Rating', ascending=False)

In [39]:
#calculating average ratings 
df_average_rating = df_books_with_ratings.groupby('Book-Title').mean(numeric_only = True)['Book-Rating'].reset_index()
df_average_rating.rename(columns={'Book-Rating':'Average-Rating'},inplace=True)
df_average_rating = df_average_rating.sort_values('Average-Rating', ascending=False)

In [40]:
#merging total-ratings and average-ratings dataset
df_popular_books = pd.merge(df_ratings_count, df_average_rating, on="Book-Title")

In [41]:
#filter to consider total-ratings atleast more than 200
df_top_books = df_popular_books[df_popular_books['Book-Rating']>=200].sort_values('Average-Rating',ascending=False)

In [42]:
#merge with books for display
df_top_books = df_top_books.merge(df_books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M', 'Book-Rating', 'Average-Rating']]
df_top_books.reset_index(inplace=True)

In [43]:
def get_top_books():
    top_books = pickle.dump(df_top_books, open('top_books.pkl', 'wb'))
    return top_books
get_top_books()

## Books by same author and publisher

In [44]:
#calculating ratings count on all books
df_total_ratings_count = df_recommendation_dataset.groupby('Book-Title').count()['Book-Rating'].reset_index()
df_total_ratings_count = df_total_ratings_count.sort_values('Book-Rating', ascending=False)

In [45]:
#calculating average ratings on all books
df_average_books_rating = df_recommendation_dataset.groupby('Book-Title').mean(numeric_only = True)['Book-Rating'].reset_index()
df_average_books_rating.rename(columns={'Book-Rating':'Average-Rating'},inplace=True)

In [46]:
# merging all the books
df_all_books = df_total_ratings_count.merge(df_average_books_rating,on='Book-Title')

In [47]:
#calculating aggregared rating
df_author_recommendations = df_all_books.sort_values('Average-Rating', ascending=False)
df_author_recommendations["Aggregated-Rating"] = df_author_recommendations['Book-Rating']*df_author_recommendations['Average-Rating']

In [48]:
#merging with books
df_author_recommendations = df_author_recommendations.merge(df_books,on='Book-Title').drop_duplicates('Book-Title')
df_author_recommendations=df_author_recommendations.sort_values('Aggregated-Rating',ascending=False)

In [49]:
pickle.dump(df_author_recommendations, open('author_recommendations.pkl', 'wb'))

#### Create objects for the recommended books

In [50]:
class Recommendations:
    def __init__(self, title, books):
        self.title = title
        self.books = books
        
class Book:
    def __init__(self, name, cover, author):
        self.name = name
        self.cover = cover
        self.author = author

#### Helper method to create books in custom list from dataframe

In [51]:
import json
def create_book_lists_helper(title, books):
    recommendation_books = Recommendations(title, books)
    return recommendation_books

## Recommendation for same author

In [52]:
#Recommend books by same author of the book with bookname as an input  
def recommendation_by_same_author(bookname):
    booksList = []
    bookname = bookname.lower()
    book_entry = df_author_recommendations[df_author_recommendations['Book-Title'].str.lower().str.contains(bookname)]
    if book_entry.empty:
        return create_book_lists_helper("oops! No author recommendations for the input", booksList)
    book_author = book_entry['Book-Author'].iloc[0]
    author_recommendations = df_author_recommendations.loc[df_author_recommendations['Book-Author'] == book_author,:][:5]
    author_recommendations.drop(author_recommendations.index[author_recommendations['Book-Title'] == bookname], inplace = True)
    for book in author_recommendations.values.tolist():
        rBook = Book(book[0], book[8], book[5])
        booksList.append(rBook)
    
    return create_book_lists_helper("Top Books with same author", booksList)

## Recommendation by the given author name

In [53]:
def recommendation_by_given_author(authorName):
    booksList = []
    authorName = authorName.lower()
    author_recommendations = df_author_recommendations.loc[df_author_recommendations['Book-Author'].str.lower().str.contains(authorName),:][:5]
    if author_recommendations.empty:
        return create_book_lists_helper("oops! No author recommendations for the input", booksList)
    for book in author_recommendations.values.tolist():
        rBook = Book(book[0], book[8], book[5])
        booksList.append(rBook)
    return create_book_lists_helper("Similar top Books by given author", booksList)

## Recommendation for same publisher

In [54]:
#Recommend books by same publisher of the book with bookname as an input  
def recommendation_by_same_publisher(bookname):
    booksList = []
    bookname = bookname.lower()
    book_entry = df_author_recommendations[df_author_recommendations['Book-Title'].str.lower().str.contains(bookname)]
    if book_entry.empty:
        return create_book_lists_helper("oops! No publisher recommendations for the input", booksList)
    book_publisher = book_entry['Publisher'].iloc[0]
    publisher_recommendations = df_author_recommendations.loc[df_author_recommendations['Publisher'] == book_publisher,:][:5]
    publisher_recommendations.drop(publisher_recommendations.index[publisher_recommendations['Book-Title'] == bookname], inplace = True)

    for book in publisher_recommendations.values.tolist():
        rBook = Book(book[0], book[8], book[5])
        booksList.append(rBook)
    return create_book_lists_helper("Top Books published by same publisher", booksList)

## Recommendation by the given publisher name

In [55]:
#recommendation by the given publisher name
def recommendation_by_given_publisher(publisherName):
    booksList = []
    publisherName = publisherName.lower()
    author_recommendations = df_author_recommendations.loc[df_author_recommendations['Publisher'].str.lower().str.contains(publisherName),:][:5]
    if author_recommendations.empty:
        return create_book_lists_helper("oops! No publisher recommendations for the input", booksList)
    for book in author_recommendations.values.tolist():
        rBook = Book(book[0], book[8], book[5])
        booksList.append(rBook)
    return create_book_lists_helper("Similar top Books by given publisher", booksList)

## Collaborative Filtering

In [56]:
#fetching experienced users who have rated at least 200 books
collaborative_user_data = df_recommendation_dataset.groupby('User-ID').count()['Book-Rating'] > 200
experienced_users = collaborative_user_data[collaborative_user_data].index

df_filtered_collaborative_data = df_recommendation_dataset[df_recommendation_dataset['User-ID'].isin(experienced_users)]

In [57]:
#fetching books with minimum 50 ratings by users
collaborative_rating_data = df_filtered_collaborative_data.groupby('Book-Title').count()['Book-Rating'] > 50
books_with_experienced_ratings = collaborative_rating_data[collaborative_rating_data].index 

df_final_collaborative_data = df_filtered_collaborative_data[df_filtered_collaborative_data['Book-Title'].isin(books_with_experienced_ratings)]

In [58]:
#creating pivot table
df_pivot_table = df_final_collaborative_data.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')
df_pivot_table.fillna(0, inplace=True)

In [59]:
df_pivot_table

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [60]:
#similarity-scores
from sklearn.metrics.pairwise import cosine_similarity
df_similarity_scores = cosine_similarity(df_pivot_table)

In [61]:
def collaborative_recommendation(book_name):
    booksList = []
    array_size = np.where(df_pivot_table.index== book_name)[0]
    if array_size.size == 0:
        return create_book_lists_helper("oops! No trending recommendations for the input", booksList)
    book_index = np.where(df_pivot_table.index==book_name)[0][0]
    similar_books = sorted(list(enumerate(df_similarity_scores[book_index])),key=lambda x:x[1],reverse=True)[1:6]
    if len(similar_books) == 0:
        return create_book_lists_helper("Top trending similar books", booksList)
   
    for book in similar_books:
        temp_df = df_books[df_books['Book-Title'] == df_pivot_table.index[book[0]]]
        book_title = temp_df.drop_duplicates('Book-Title')['Book-Title'].values
        book_author = temp_df.drop_duplicates('Book-Title')['Book-Author'].values
        cover_image = temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values
        rBook = Book(book_title[0], cover_image[0], book_author[0])
        booksList.append(rBook)
    
    return create_book_lists_helper("Top trending similar books", booksList)

In [62]:
pickle.dump(df_pivot_table, open('pivot_table.pkl', 'wb'))
pickle.dump(df_similarity_scores, open('similarity_scores.pkl', 'wb'))
pickle.dump(df_books,open('books.pkl', 'wb'))

## Books Published Yearly

In [63]:
# get books published in the same year 
def getBooksYearly(year_or_book: int or str):
    booksList = []
    try:
        year_of_publication = int(year_or_book)
        #valid year checking
        if (year_of_publication < 1900):
            return create_book_lists_helper("oops! Please input the valid year between 1900 - 2022", booksList)
        elif (year_of_publication > 2022):
            return create_book_lists_helper("oops! Please input the valid year between 1900 - 2022", booksList)
        
        #filter books in the same year
        same_year_books = df_recommendation_dataset[df_recommendation_dataset['Year-Of-Publication'] == year_of_publication]
    except:
        #check for book name
        same_year_books = df_recommendation_dataset[df_recommendation_dataset['Book-Title'].str.lower().str.contains(year_or_book.lower())]
        
        #no books from the same year
        if (len(same_year_books)== 0):
            return create_book_lists_helper("oops! No yearly recommendations for the input", booksList)        
        
        #year of publication of the same book
        year_of_publication = same_year_books.iloc[0]['Year-Of-Publication']
        same_year_books = df_recommendation_dataset[df_recommendation_dataset['Year-Of-Publication'] == year_of_publication]

    if (len(same_year_books)== 0):
        return create_book_lists_helper("oops! No recommendations for year input", booksList)

    #top 5 rated books
    same_year_books = same_year_books.sort_values(by="Book-Rating", ascending=False)[:5]
    
    #dropping the duplicates
    same_year_books = same_year_books.drop_duplicates(subset=["Book-Title"])
    
    for book in same_year_books.values.tolist():
        rBook = Book(book[1], book[5], book[2])
        booksList.append(rBook)
    return create_book_lists_helper("Trending books in the same year", booksList)

## Books published at the given place

In [64]:
#location as input
def getsamePlaceBooks(place):
    booksList = []
    if place is not None:
        place = place.lower()
    
    places = ((df_recommendation_dataset['City'].str.lower() == place) |
            (df_recommendation_dataset['State'].str.lower() == place) |
            (df_recommendation_dataset['Country'].str.lower() == place))
    
    if places.any():
        same_place_books = df_recommendation_dataset[places]
        #top 5 rated books
        same_place_books = same_place_books.sort_values(by = "Book-Rating", ascending=False)[:5]
        same_place_books = same_place_books.drop_duplicates(subset=["Book-Title"])
        if(len(same_place_books) == 0):
            return create_book_lists_helper("oops! No recommendations for place input", booksList)
        for book in same_place_books.values.tolist():
            rBook = Book(book[1], book[5], book[2])
            booksList.append(rBook)
        return create_book_lists_helper("Trending books at the same location", booksList)
    else:
        return create_book_lists_helper("oops! No recommendations for place input", booksList)

In [65]:
#book name as input
def getsamePlaceBooksByTitle(book_name):
    booksList = []
    if book_name is not None:
        book_name = book_name.lower()

        #check for book name
        same_place_books = df_recommendation_dataset[df_recommendation_dataset['Book-Title'].str.lower().str.contains(book_name.lower())]
        
        #no books from the same year
        if (len(same_place_books) == 0):
            return create_book_lists_helper("oops! No recommendations for place input", booksList)
            
    places = ((df_recommendation_dataset['City'].str.lower() == same_place_books.iloc[0]['City'].lower()) |
                  (df_recommendation_dataset['State'].str.lower() == same_place_books.iloc[0]['State'].lower()) |
                  (df_recommendation_dataset['Country'].str.lower() == same_place_books.iloc[0]['Country'].lower()))
    
    if places.any():
        same_place_books = df_recommendation_dataset[places]
        #top 5 rated books
        same_place_books = same_place_books.sort_values(by = "Book-Rating", ascending=False)[:5]
        same_place_books = same_place_books.drop_duplicates(subset=["Book-Title"])
        if(len(same_place_books) == 0):
            return create_book_lists_helper("oops! No recommendations for place input", booksList)    
        for book in same_place_books.values.tolist():
            rBook = Book(book[1], book[5], book[2])
            booksList.append(rBook)
        return create_book_lists_helper("Trending books at the same location", booksList)
    else:
        return create_book_lists_helper("oops! No recommendations for place input", booksList)

### Converting result to JSON format for frontend

In [66]:
def results_in_json(finalRecommendations):   
    result = json.dumps(finalRecommendations, default=lambda o: o.__dict__, indent=4)
    return result

In [67]:
# get Final results for all recommendations according to title
def getAllRecommendationsByBookName(name):
    finalRecommendations = []
    results = collaborative_recommendation(name)
    if len(results.books) > 0:
        finalRecommendations.append(collaborative_recommendation(name))
    results = recommendation_by_same_author(name)
    if len(results.books) > 0:
        finalRecommendations.append(recommendation_by_same_author(name))
    results = recommendation_by_same_publisher(name)
    if len(results.books) > 0:
        finalRecommendations.append(recommendation_by_same_publisher(name))
    results = getBooksYearly(name)
    if len(results.books) > 0:
        finalRecommendations.append(getBooksYearly(name))
    results = getsamePlaceBooksByTitle(name)
    if len(results.books) > 0:
        finalRecommendations.append(getsamePlaceBooksByTitle(name))

    if len(finalRecommendations) == 0:
        finalRecommendations.append(create_book_lists_helper("No books found!",[]))
    
    return results_in_json(finalRecommendations)

def getAllRecommendationsByAuthorName(name):
    finalRecommendations = []
    finalRecommendations.append(recommendation_by_given_author(name))
    return results_in_json(finalRecommendations)

def getAllRecommendationsByPublisherName(name):
    finalRecommendations = []
    finalRecommendations.append(recommendation_by_given_publisher(name))
    return results_in_json(finalRecommendations)

def getAllRecommendationsByYear(name):
    finalRecommendations = []
    finalRecommendations.append(getBooksYearly(name))
    return results_in_json(finalRecommendations)

def getAllRecommendationsByLocation(name):
    finalRecommendations = []
    finalRecommendations.append(getsamePlaceBooks(name))
    return results_in_json(finalRecommendations)

In [68]:
getAllRecommendationsByYear("1984")

'[\n    {\n        "title": "Trending books in the same year",\n        "books": [\n            {\n                "name": "Pers\\u00c3\\u00b6nlichkeit und \\u00c3?bertragung (Grundwerk / C.G. Jung)",\n                "cover": "http://images.amazon.com/images/P/3530407836.01.MZZZZZZZ.jpg",\n                "author": "C. G Jung"\n            },\n            {\n                "name": "The Clan of the Cave Bear (Earth\'s Children (Paperback))",\n                "cover": "http://images.amazon.com/images/P/0553250426.01.MZZZZZZZ.jpg",\n                "author": "Jean M. Auel"\n            },\n            {\n                "name": "HEARTBURN",\n                "cover": "http://images.amazon.com/images/P/0671496786.01.MZZZZZZZ.jpg",\n                "author": "Nora Ephron"\n            },\n            {\n                "name": "Where the Red Fern Grows",\n                "cover": "http://images.amazon.com/images/P/0553274295.01.MZZZZZZZ.jpg",\n                "author": "Wilson Rawls"\n            },\n            {\n                "name": "A Wizard of Earthsea (Earthsea Trilogy, Book 1)",\n                "cover": "http://images.amazon.com/images/P/0553262505.01.MZZZZZZZ.jpg",\n                "author": "URSULA K. LE GUIN"\n            }\n        ]\n    }\n]'

In [69]:
getAllRecommendationsByBookName("animal farm")

'[\n    {\n        "title": "Top Books with same author",\n        "books": [\n            {\n                "name": "1984",\n                "cover": "http://images.amazon.com/images/P/0451524934.01.MZZZZZZZ.jpg",\n                "author": "George Orwell"\n            },\n            {\n                "name": "Animal Farm",\n                "cover": "http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg",\n                "author": "George Orwell"\n            },\n            {\n                "name": "Down and Out in Paris and London",\n                "cover": "http://images.amazon.com/images/P/015626224X.01.MZZZZZZZ.jpg",\n                "author": "George Orwell"\n            },\n            {\n                "name": "Rebelion en la Granja",\n                "cover": "http://images.amazon.com/images/P/8423309223.01.MZZZZZZZ.jpg",\n                "author": "George Orwell"\n            },\n            {\n                "name": "Animal Farm: A Fairy Story",\n                "cover": "http://images.amazon.com/images/P/0452277507.01.MZZZZZZZ.jpg",\n                "author": "George Orwell"\n            }\n        ]\n    },\n    {\n        "title": "Top Books published by same publisher",\n        "books": [\n            {\n                "name": "Animal Farm",\n                "cover": "http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg",\n                "author": "George Orwell"\n            },\n            {\n                "name": "Black Hawk Down (Movie Tie-in)",\n                "cover": "http://images.amazon.com/images/P/0451205146.01.MZZZZZZZ.jpg",\n                "author": "Mark Bowden"\n            },\n            {\n                "name": "Atlas Shrugged/35th Anniversary Edition",\n                "cover": "http://images.amazon.com/images/P/0451168283.01.MZZZZZZZ.jpg",\n                "author": "Ayn Rand"\n            },\n            {\n                "name": "Bored of the Rings",\n                "cover": "http://images.amazon.com/images/P/0451070542.01.MZZZZZZZ.jpg",\n                "author": "Harvard Lampoon"\n            },\n            {\n                "name": "University : A New Class Of Terror",\n                "cover": "http://images.amazon.com/images/P/0739425595.01.MZZZZZZZ.jpg",\n                "author": "Bentley Little"\n            }\n        ]\n    },\n    {\n        "title": "Trending books in the same year",\n        "books": [\n            {\n                "name": "White Death (NUMA Files (Paperback))",\n                "cover": "http://images.amazon.com/images/P/0425195457.01.MZZZZZZZ.jpg",\n                "author": "Clive Cussler"\n            },\n            {\n                "name": "Tripletree",\n                "cover": "http://images.amazon.com/images/P/0312328745.01.MZZZZZZZ.jpg",\n                "author": "Derek Wilson"\n            },\n            {\n                "name": "Cup Of Comfort For Christmas: Stories That Celebrate the Warmth, Joy, and Wonder of the Holiday (Cup of Comfort)",\n                "cover": "http://images.amazon.com/images/P/1580629210.01.MZZZZZZZ.jpg",\n                "author": "Colleen Sell"\n            },\n            {\n                "name": "Imitation in Death (Eve Dallas Mysteries (Paperback))",\n                "cover": "http://images.amazon.com/images/P/0425191583.01.MZZZZZZZ.jpg",\n                "author": "J. D. Robb"\n            },\n            {\n                "name": "Kiss of the Night (A Dark-Hunter Novel)",\n                "cover": "http://images.amazon.com/images/P/0312992416.01.MZZZZZZZ.jpg",\n                "author": "Sherrilyn Kenyon"\n            }\n        ]\n    },\n    {\n        "title": "Trending books at the same location",\n        "books": [\n            {\n                "name": "In the Meantime : Finding Yourself and the Love You Want",\n                "cover": "http://images.amazon.com/images/P/0684848066.01.MZZZZZZZ.jpg",\n                "author": "Iyanla Vanzant"\n            },\n            {\n                "name": "Hallmarks of Felinity : A 9 Chickweed Lane Book",\n                "cover": "http://images.amazon.com/images/P/0740721992.01.MZZZZZZZ.jpg",\n                "author": "Brooke McEldowney"\n            },\n            {\n                "name": "The World According to Garp",\n                "cover": "http://images.amazon.com/images/P/034536676X.01.MZZZZZZZ.jpg",\n                "author": "John Irving"\n            },\n            {\n                "name": "Into Thin Air : A Personal Account of the Mount Everest Disaster",\n                "cover": "http://images.amazon.com/images/P/0679457526.01.MZZZZZZZ.jpg",\n                "author": "JON KRAKAUER"\n            },\n            {\n                "name": "Primary Colors: A Novel of Politics",\n                "cover": "http://images.amazon.com/images/P/0679448594.01.MZZZZZZZ.jpg",\n                "author": "Anonymous"\n            }\n        ]\n    }\n]'